/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* VARIABLES */

:root {

  --yellow-color: #FCB72B;
  --dark-navy-color: #495567;
  --dim-gray-color: #939CAA;
  --light-gray-color: #E5ECF4;
  --snow-color: #F2F5F9;
  --light-yellow-color: #FFF4DF;
  --yellow-color: #fcb72b;
  --dark-navy-color: #495567;
  --dim-gray-color: #939caa;
  --light-gray-color: #e5ecf4;
  --snow-color: #f2f5f9;
  --light-yellow-color: #fff4df;
  --white-color: #fff;
  --main-font-weight: 700;
}

/* space-mono-700 - latin */
@font-face {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;

  src: 
  url("../fonts/space-mono-v11-latin-700.woff2") format("woff2"),
  url("../fonts/space-mono-v11-latin-700.woff") format("woff");
}


@font-face {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;

  src: 
  url("../fonts/lexend-deca-v17-latin-regular.woff2") format("woff2"),
  url("../fonts/lexend-deca-v17-latin-regular.woff") format("woff"); 
  src: url("../fonts/lexend-deca-v17-latin-regular.woff2") format("woff2"),
    url("../fonts/lexend-deca-v17-latin-regular.woff") format("woff");

}

/* GENERAL */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

img {
  display: block;
  height: auto;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Lexend Deca", "Arial", sans-serif;
  font-family: "Space Mono", "Courier New", monospace;
  overflow-x: hidden;
}




.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */

.container {
  max-width: 1150px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

/* STICKY-FOOTER */
.site-main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}


/* header start */
.site-header {
  padding: 22px 0;
}

.header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.site-logo {
  margin-right: 58px;
}

.site-logo__img {
  color: #495567;
}

.sitenav__list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.sitenav__item {
  margin-right: 32px;
}

.sitenav__item:last-child {
  margin-right: 0;
}

.sitenav__link {
  font-family: "Space Mono";
  font-weight: var(--main-font-weight);
  font-size: 15px;
  line-height: 25px;
  color: var(--dim-gray-color);
  text-decoration: none;
}

.header-inner__link {
  margin-left: auto;
  padding: 14px 39px;
  font-family: "Space Mono";

  font-weight: var(--main-font-weight);

  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: var(--white-color);
  background-color: var(--yellow-color);
  text-decoration: none;
  border: 3px solid transparent;

  -webkit-transition: 0.4s ease;

  -o-transition: 0.4s ease;

  transition: 0.4s ease;
}

.header-inner__link:hover {
  color: var(--yellow-color);
  background-color: var(--white-color);
  border: 3px solid #fcb72b;
}

/* header finish */

.our {
  position: relative;
  padding-top: 286px;
  padding-bottom: 160px;
  background-image: url("..//images/care.png");
  background-repeat: no-repeat;
  background-position: calc(50% + 0px) calc(50% + -400px);
  background-size: 1540px;
}
.our::after {
  position: absolute;
  top: calc(50% + -155px);
  right: calc(50% + -1070px);
  content: "";
  display: inline-block;
  width: 445px;
  height: 445px;
  border-radius: 50%;
  background-color: #e5ecf4;
}
.our__careers {
  position: absolute;
  top: calc(50% + -460px);
  left: calc(50% + -558px);
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.5px;
  color: #ffffff;
}

.our__info {
  width: 445px;
  margin-right: 213px;
}
.our-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.our-wrapper::before {
  position: absolute;
  top: calc(50% + 75px);
  right: calc(50% + -733px);
  z-index: 2;
  content: "";
  width: 734px;
  height: 200px;
  display: inline-block;
  background-image: url("..//images/icon-right.svg");
  background-repeat: no-repeat;
}
.our__title {
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: #495567;
}
.our__text {
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #939caa;
  font-family: 'Lexend Deca', "Arial", sans-serif;
}
.our__link {
  padding: 11px 50px;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
  background: #fcb72b;
  text-decoration: none;
  border: 3px solid transparent;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.our__link:hover {
  color: var(--yellow-color);
  background-color: var(--white-color);
  border: 3px solid #fcb72b;
}
.our__img {
  z-index: -1;
  border-radius: 50%;
}

.join {
  padding-bottom: 120px;
}

.join__title {
  margin-bottom: 100px;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  letter-spacing: -2.14286px;
  color: #495567;
}
.join__list {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style: none;
}
.join__item {
  margin: 0;
  width: 350px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.join__img {
  margin-right: 0;
  margin-bottom: 87px;
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
}

.join__text {
  position: relative;
  margin: 0;
  margin-bottom: 27px;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -1.07143px;
  color: #495567;
}
.join__text::before {
  position: absolute;
  top: calc(50% + -157px);
  left: calc(50% + -45px);
  content: "01";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 96px;
  height: 96px;
  background-color: #fcb72b;
  border-radius: 50%;
}
.join__text--second::before {
  content: "02";
}
.join__text--third::before {
  content: "03";
}
.join__paragraph {
  margin: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 25px;
  text-align: center;
  color: #939caa;
  font-family: 'Lexend Deca', "Arial", sans-serif;
}

.jobs {
  padding-bottom: 160px;
}
.jobs__list {
  padding: 0;
  list-style: none;
}
.jobs__item {
  margin-bottom: 24px;
  padding: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1110px;
  background-color: #f2f5f9;
}

.text-box__title {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07143px;
  color: #495567;
}
.text-box__text {
  margin: 0;
  font-family: 'Lexend Deca', "Arial", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #495567;
}
.jobs__link {
  padding: 14px 67px;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
  background-color: #fcb72b;
  text-decoration: none;
  border: 3px solid transparent;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.jobs__link:hover{
  color: var(--yellow-color);
  background-color: var(--white-color);
  border: 3px solid #fcb72b;
}
.hero {
  padding: 153px 0;
  background-image: url("../images/home-hero-bgimg.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  
}



.hero__box {
  width: 500px;
  position: relative;
}

.hero__box::after {
  content: "";
  background-image: url("../images/hero-after-img.svg");
  background-repeat: no-repeat;
  background-size: 234px 62px;
  width: 234px;
  height: 62px;
  position: absolute;
  bottom: calc(50% + -186px);
  right: calc(5% + -845px);
}

.hero__title {
  margin: 0;
  margin-bottom: 40px;
  font-family: "Space Mono";
  font-weight: var(--main-font-weight);
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.5px;
  color: var(--white-color);
}

.hero__text-box {
  width: 405px;
  margin-left: auto;
  position: relative;
}

.hero__text-box::before {
  content: "";
  background-image: url("../images/home-hero-before.svg");
  background-repeat: no-repeat;
  background-size: 203px 15px;
  width: 203px;
  height: 15px;
  position: absolute;
  top: 44px;
  left: -266px;
}

.hero__text-box::after {
  display: block;
  content: "";
  background-image: url("../images/home-icon-right-hero.svg");
  background-repeat: no-repeat;
  width: 500px;
  height: 150px;
  position: absolute;
  top: 42px;
  right: -543px
}

.hero__text {
  margin: 0;
  margin-bottom: 40px;
  font-family: "Lexend Deca";
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: var(--white-color);
}

.hero__link {
  padding: 14px 39px;
  font-family: "Space Mono";
  font-weight: var(--main-font-weight);
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: var(--white-color);
  background-color: var(--yellow-color);
  border: 3px solid transparent;
  text-decoration: none;
  -webkit-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
}

.hero__link:hover {
  color: var(--yellow-color);
  background-color: transparent;
  border: 3px solid #FCB72B;
}

/* hero section finish  */






/* offer section start  */

.offer {
  padding-top: 160px;
  padding-bottom: 200px;
}



.offer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  
}

.offer__item::before {
  display: block;
  content: "";
  width: 974px;
  border: 5px solid #E5ECF4;
  z-index: -1;
  position: absolute;
  top: 56px;
  right: 271px;
  background-color: var(--light-gray-color);
}

.offer__item {
  padding-top: 136px;
  margin-right: 30px;
  position: relative;
}

.offer__item:last-child {
  margin-right: 0;
}

.offer__locate {
  position: absolute;
  bottom: 188px;
  left: 0px;
  width: 96px;
  height: 96px;
  background-image: url("../images/home-locate.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--yellow-color);
  border-radius: 50%;
}

.offer__scooter {
  position: absolute;
  bottom: 188px;
  left: 0px;
  width: 96px;
  height: 96px;
  background-image: url("../images/home-scooter.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--yellow-color);
  border-radius: 50%;
}

.offer__ride {
  position: absolute;
  bottom: 188px;
  left: 0px;
  width: 96px;
  height: 96px;
  background-image: url("../images/home-ride.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--yellow-color);
  border-radius: 50%;
}


.offer__topic {
  margin: 0;
  margin-bottom: 27px;
}

.offer__link {
  font-family: "Space Mono";
  font-weight: var(--main-font-weight);
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07143px;
  color: var(--dark-navy-color);
  text-decoration: none;
}

.offer__text {
  margin: 0;
  font-family: "Lexend Deca";
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: var(--dim-gray-color);
}

/* offer section finish  */


/* info section start  */

.info {
  padding-bottom: 200px;
}

.info__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.info__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 160px;
  position: relative;
}

.info__item--easy::after {
  content: "";
  background-image: url("../images/icon-right.svg");
  background-repeat: no-repeat;
  width: 833px;
  height: 205px;
  position: absolute;
  right: -306px;
  top: 293px;
  z-index: 1;
}

.info__item--care::after {
  content: "";
  background-image: url("../images/icon-right.svg");
  background-repeat: no-repeat;
  background-size: 833px 205px;
  width: 833px;
  height: 205px;
  position: absolute;
  right: -230px;
  top: 275px;
  z-index: 1;
}

.info__item--coming::before {
  content: "";
  background-image: url("../images/icon-left.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 703px;
  height: 139px;
  position: absolute;
  left: -492px;
  top: 9px;
  z-index: 1;
}

.info__item--money::before {
  content: "";
  background-image: url("../images/icon-right.svg");
  background-repeat: no-repeat;
  width: 703px;
  height: 139px;
  position: absolute;
  right: -499px;
  top: 69px;
  z-index: 1;
}

.info__item:nth-child(2) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}


.info__item:last-child {
  margin-bottom: 0;
}

.info__item-box {
  width: 445px;
}

.info__topic {
  margin: 0;
  margin-bottom: 24px;
}

.info__link {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: var(--main-font-weight);
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: var(--dark-navy-color);
  text-decoration: none;
}

.info__text {
  margin: 0;
  margin-bottom: 40px;
  font-family: "Lexend Deca";
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: var(--dim-gray-color);
}

.info__link-more {
  padding: 14px 44px;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: var(--main-font-weight);
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: var(--white-color);
  background-color: var(--yellow-color);
  text-decoration: none;
  border: 3px solid transparent;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}

.info__link-more:hover {
  color: var(--yellow-color);
  background-color: var(--white-color);
  border: 3px solid #FCB72B;
  
}

.info__img-box {
  position: relative;
}

.info__img-box--easy::after {
  content: "";
  position: absolute;
  right: -561px;
  top: 0px;
  background-image: url("../images/home-img-after.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 445px;
  height: 445px;
  
}


.info__img-box--coming::before {
  content: "";
  position: absolute;
  left: -556px;
  top: 0px;
  background-image: url("../images/home-img-after.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 445px;
  height: 445px;
}

.info__img-box--money::after {
  content: "";
  position: absolute;
  right: -556px;
  top: 0px;
  background-image: url("../images/home-img-after.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 445px;
  height: 445px;
}

.info__img {
  border-radius: 50%;
}

/* info section finish  */





/* ABOUT PAGE START */
.about{
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  background-image: url("../images/about-bg.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                -webkit-min-device-pixel-ratio: 2),
only screen and (                -o-min-device-pixel-ratio: 2/1),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
  
  .about{
    background-image: url("../images/about-bg@2x.jpg");
  }
}
.about__title{
  margin: 0;
  padding-top: 62px;
  padding-bottom: 62px;
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.5px;
  color: #FFFFFF;
}

.mobility{
  position: relative;
  margin: 0;
}
.mobility::after{
  position: absolute;
  content: "";
  display: block;
  background-image: url(../images/mobility-strelka.svg);
  background-repeat: no-repeat;
  background-size: contain;
  top: calc(50% - 275px);
  left: calc(50% + 14px);
  width: 770px;
  height: 145px;
}
  

.mobility::before{
  position: absolute;
  z-index: 1;
  content: "";
  display: block;
  background-image: url("../images/better-urban-strelka.svg");
  background-repeat: no-repeat;
  background-size: contain;
  top: calc(50% + 146px);
  left: calc(50% - 883px);
  width: 734px;
  height: 99px;
  
}
.mobility__wrap{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  
}
.mobility__text-box{
  padding-top: 250px;
  padding-bottom: 202px;
  width: 445px;
  
}
.mobility__title{
  margin: 0;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: #495567;
  
}
.mobility__text{
  padding-top: 24px;
  font-family: 'Lexend Deca', "Arial", sans-serif;
  margin: 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
  
}
.mobility__img-box{
  position: relative;
  
}
.mobility__img{
  width: 445px;
  height: 445px;
  border-radius: 50%;
  
}
.mobility__img-box::after{
  position: absolute;
  content: "";
  display: block;
  background-image: url("../images/mobility-circle.svg");
  background-repeat: no-repeat;
  background-size: contain;
  top: 0px;
  right: -500px;
  width: 445px;
  height: 445px;
}
.mobility__img-box-second{
  position: relative;
}
.mobility__img-second{
  width: 445px;
  height: 445px;
  border-radius: 50%;
  
}
.mobility__img-box-second::before{
  position: absolute;
  content: "";
  display: block;
  background-image: url("../images/mobility-circle.svg");
  background-repeat: no-repeat;
  background-size: contain;
  top: 0px;
  right: 540px;
  width: 445px;
  height: 445px;
}

/* start faq section */
.faq{
  padding-top: 120px;
  
}
.faq__title{
  margin: 0;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  letter-spacing: -2.14286px;
  color: #495567;
  
}
.faq__wrap{
  padding-top: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  
}
.faq__wrap:last-child{
  padding-bottom: 160px;
}
.faq__new-title{
  padding-top: 10px;
  margin: 0;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -1.78571px;
  color: #495567;

}
.detsum__list{
  padding-left: 0;
  
}
.detsum__item{
  list-style: none;
}
.detsum__det:hover{
  background-color: #FFF4DF;
}
.detsum__item:nth-child(2){
  padding-top: 16px;
  padding-bottom: 16px;
  
}
.detsum__det{
  padding: 32px 0px 32px 40px;
  width: 730px;
  background: #F2F5F9;
  
  
}

.detsum__det[open] .detsum__arrow{
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);

}
.detsum__sum{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07143px;
  color: #495567;
  
}
.detsum__arrow{
  padding-right: 42px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}


.detsum__text{
  margin: 0;
  padding: 24px 40px 10px 0px;
  font-family: 'Lexend Deca', "Arial", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #495567;
  
}





/* ABOUT SECTION END */


/* footer start */
.site-article {
  padding: 102px 0px;
  background-color: var(--dark-navy-color);
  background-image: url(../images/footer-circle-bg.svg);
  background-repeat: no-repeat;
  background-position: calc(50% + 280px) calc(50% + 200px);
}

.site-article__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.site-article__textbox {
  width: 415px;
}

.site-article__text {
  margin: 0;
  font-family: "Space Mono";
  font-weight: var(--main-font-weight);
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: var(--white-color);
}

.site-article__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-left: auto;
  padding: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  list-style: none;
}

.site-article__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 18px;
  padding: 8px 16px;
  background-color: var(--light-gray-color);
  border-radius: 4px;
}

.site-article__item:last-child {
  margin-right: 0;
}

.site-article__item::before {
  content: "";
  display: inline-block;
  margin-right: 12px;
  background-image: url(../images/footer-appstore-icon.svg);
  width: 24px;
  height: 28px;
}

.site-article__item:last-child::before {
  content: "";
  display: inline-block;
  margin-right: 12px;
  background-image: url(../images/google-play-footer-icon.svg);
  width: 24px;
  height: 28px;
}

.site-article__link {
  text-decoration: none;
}

.site-article__linkthemetop {
  margin: 0;
  font-family: "Space Mono";
  font-weight: var(--main-font-weight);
  font-size: 10px;
  line-height: 15px;
  letter-spacing: -0.446429px;
  color: var(--dark-navy-color);
}

.site-article__linkthemeunder {
  margin: 0;
  font-family: "Space Mono";
  font-weight: var(--main-font-weight);
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.892857px;
  color: var(--dark-navy-color);
}

.site-footer {
  padding-top: 35px;
  padding-bottom: 32px;
  background-color: #333a44;
}

.site-footer__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.site-footer__logo {
  margin-right: 59px;
  color: var(--white-color);
}

.site-footer__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.site-footer__item {
  margin-right: 32px;
}

.site-footer__item:last-child {
  margin-right: 0;
}

.site-footer__link {
  text-decoration: none;
  font-family: "Space Mono";
  font-weight: var(--main-font-weight);
  font-size: 15px;
  line-height: 25px;
  color: var(--dim-gray-color);
}

.site-footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-left: auto;
  padding: 0;
  list-style: none;
}

.site-footer__socialitem {
  margin-right: 24px;
}

.site-footer__socialitem:last-child {
  margin-right: 0;
}