/* VARIABLES */

:root {
    --yellow-color: #FCB72B;
    --dark-navy-color: #495567;
    --dim-gray-color: #939CAA;
    --light-gray-color: #E5ECF4;
    --snow-color: #F2F5F9;
    --light-yellow-color: #FFF4DF;
    --white-color: #fff;
    --main-font-weight: 700;
  }

  /* space-mono-700 - latin */
@font-face {
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 700;
    src: 
         url("../fonts/space-mono-v11-latin-700.woff2") format("woff2"),
         url("../fonts/space-mono-v11-latin-700.woff") format("woff");
  }
  

 
  /* lexend-deca-regular - latin */
@font-face {
    font-family: "Lexend Deca";
    font-style: normal;
    font-weight: 400;
    src: 
         url("../fonts/lexend-deca-v17-latin-regular.woff2") format("woff2"),
         url("../fonts/lexend-deca-v17-latin-regular.woff") format("woff"); 
  }
  
  /* GENERAL */
  * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  html {
    height: 100%;
  }
  
  img {
    display: block;
    height: auto;
  }
  
  body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Lexend Deca", "Arial", sans-serif;
    font-family: "Space Mono", "Courier New", monospace;
    overflow-x: hidden;
  }
  
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
  /* CONTAINER */
  
  .container {
    max-width: 1150px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
  }
  
  /* STICKY-FOOTER */
  .site-main {
    flex-grow: 1;
  }
 
    
/* header start */
.site-header {
  padding: 22px 0;
}

.header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.site-logo {
  margin-right: 58px;
}




.site-logo__img {
  
  color: #495567;
}

.sitenav__list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.sitenav__item {
  margin-right: 32px;
}

.sitenav__item:last-child {
  margin-right: 0;
}

.sitenav__link {
  font-family: "Space Mono";
  font-weight: var(--main-font-weight);
  font-size: 15px;
  line-height: 25px;
  color: var(--dim-gray-color);
  text-decoration: none;
}

.header-inner__link {
  margin-left: auto;
  padding: 14px 39px;
  font-family: "Space Mono";
  
  font-weight: var(--main-font-weight);
  
  
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: var(--white-color);
  background-color: var(--yellow-color);
  text-decoration: none;
  border: 3px solid transparent;
  
  -webkit-transition: 0.4s ease;
  
  -o-transition: 0.4s ease;
  
  transition: 0.4s ease;
}


.header-inner__link:hover {
  
  color: var(--yellow-color);
  background-color: var(--white-color);
  border: 3px solid #FCB72B;
}

/* header finish */

