/* VARIABLES */

:root {
    --yellow-color: #FCB72B;
    --dark-navy-color: #495567;
    --dim-gray-color: #939CAA;
    --light-gray-color: #E5ECF4;
    --snow-color: #F2F5F9;
    --light-yellow-color: #FFF4DF;
    --white-color: #fff;
    --main-font-weight: 700;
  }

  /* space-mono-700 - latin */
@font-face {
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 700;
    src: 
         url("../fonts/space-mono-v11-latin-700.woff2") format("woff2"),
         url("../fonts/space-mono-v11-latin-700.woff") format("woff");
  }
  

 
  /* lexend-deca-regular - latin */
@font-face {
    font-family: "Lexend Deca";
    font-style: normal;
    font-weight: 400;
    src: 
         url("../fonts/lexend-deca-v17-latin-regular.woff2") format("woff2"),
         url("../fonts/lexend-deca-v17-latin-regular.woff") format("woff"); 
  }
  
  /* GENERAL */
  * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  html {
    height: 100%;
  }
  
  img {
    display: block;
    height: auto;
  }
  
  body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Lexend Deca", "Arial", sans-serif;
    font-family: "Space Mono", "Courier New", monospace;
    overflow-x: hidden;
  }
  
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
  /* CONTAINER */
  
  .container {
    max-width: 1150px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
  }
  
  /* STICKY-FOOTER */
  .site-main {
    flex-grow: 1;
  }
 
    
/* header start */
.site-header {
  padding: 22px 0;
}

.header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.site-logo {
  margin-right: 58px;
}




.site-logo__img {
  
  color: #495567;
}

.sitenav__list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.sitenav__item {
  margin-right: 32px;
}

.sitenav__item:last-child {
  margin-right: 0;
}

.sitenav__link {
  font-family: "Space Mono";
  font-weight: var(--main-font-weight);
  font-size: 15px;
  line-height: 25px;
  color: var(--dim-gray-color);
  text-decoration: none;
}

.header-inner__link {
  margin-left: auto;
  padding: 14px 39px;
  font-family: "Space Mono";
  
  font-weight: var(--main-font-weight);
  
  
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: var(--white-color);
  background-color: var(--yellow-color);
  text-decoration: none;
  border: 3px solid transparent;
  
  -webkit-transition: 0.4s ease;
  
  -o-transition: 0.4s ease;
  
  transition: 0.4s ease;
}


.header-inner__link:hover {
  
  color: var(--yellow-color);
  background-color: var(--white-color);
  border: 3px solid #FCB72B;
}

/* header finish */



.hero {
  padding: 153px 0;
  background-image: url("../images/home-hero-bgimg.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  
}



.hero__box {
  width: 500px;
  position: relative;
}

.hero__box::after {
  content: "";
  background-image: url("../images/hero-after-img.svg");
  background-repeat: no-repeat;
  background-size: 234px 62px;
  width: 234px;
  height: 62px;
  position: absolute;
  bottom: calc(50% + -186px);
  right: calc(5% + -845px);
}

.hero__title {
  margin: 0;
  margin-bottom: 40px;
  font-family: "Space Mono";
  font-weight: var(--main-font-weight);
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.5px;
  color: var(--white-color);
}

.hero__text-box {
  width: 405px;
  margin-left: auto;
  position: relative;
}

.hero__text-box::before {
  content: "";
  background-image: url("../images/home-hero-before.svg");
  background-repeat: no-repeat;
  background-size: 203px 15px;
  width: 203px;
  height: 15px;
  position: absolute;
  top: 44px;
  left: -266px;
}

.hero__text-box::after {
  display: block;
  content: "";
  background-image: url("../images/home-icon-right-hero.svg");
  background-repeat: no-repeat;
  width: 500px;
  height: 150px;
  position: absolute;
  top: 42px;
  right: -543px
}

.hero__text {
  margin: 0;
  margin-bottom: 40px;
  font-family: "Lexend Deca";
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: var(--white-color);
}

.hero__link {
  padding: 14px 39px;
  font-family: "Space Mono";
  font-weight: var(--main-font-weight);
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: var(--white-color);
  background-color: var(--yellow-color);
  border: 3px solid transparent;
  text-decoration: none;
  -webkit-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
}

.hero__link:hover {
  color: var(--yellow-color);
  background-color: transparent;
  border: 3px solid #FCB72B;
}

/* hero section finish  */














/* footer start */
.site-article {
  padding: 102px 0px;
  background-color: var(--dark-navy-color);
  background-image: url(../images/footer-circle-bg.svg);
  background-repeat: no-repeat;
  background-position: calc(50% + 280px) calc(50% + 200px);
}

.site-article__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.site-article__textbox {
  width: 415px;
}

.site-article__text {
  margin: 0;
  font-family: "Space Mono";
  font-weight: var(--main-font-weight);
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: var(--white-color);
}

.site-article__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-left: auto;
  padding: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  list-style: none;
}

.site-article__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 18px;
  padding: 8px 16px;
  background-color: var(--light-gray-color);
  border-radius: 4px;
}

.site-article__item:last-child {
  margin-right: 0;
}

.site-article__item::before {
  content: "";
  display: inline-block;
  margin-right: 12px;
  background-image: url(../images/footer-appstore-icon.svg);
  width: 24px;
  height: 28px;
}

.site-article__item:last-child::before {
  content: "";
  display: inline-block;
  margin-right: 12px;
  background-image: url(../images/google-play-footer-icon.svg);
  width: 24px;
  height: 28px;
}

.site-article__link {
  text-decoration: none;
}

.site-article__linkthemetop {
  margin: 0;
  font-family: "Space Mono";
  font-weight: var(--main-font-weight);
  font-size: 10px;
  line-height: 15px;
  letter-spacing: -0.446429px;
  color: var(--dark-navy-color);
}

.site-article__linkthemeunder {
  margin: 0;
  font-family: "Space Mono";
  font-weight: var(--main-font-weight);
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.892857px;
  color: var(--dark-navy-color);
}

.site-footer {
  padding-top: 35px;
  padding-bottom: 32px;
  background-color: #333a44;
}

.site-footer__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.site-footer__logo {
  margin-right: 59px;
  color: var(--white-color);
}


.site-footer__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.site-footer__item {
  margin-right: 32px;
}

.site-footer__item:last-child {
  margin-right: 0;
}

.site-footer__link {
  text-decoration: none;
  font-family: "Space Mono";
  font-weight: var(--main-font-weight);
  font-size: 15px;
  line-height: 25px;
  color: var(--dim-gray-color);
}

.site-footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-left: auto;
  padding: 0;
  list-style: none;
}

.site-footer__socialitem {
  margin-right: 24px;
}

.site-footer__socialitem:last-child {
  margin-right: 0;
}

/* footer finish */
